<app-nav></app-nav>
<div >
<img src="../assets/img/bg3.jpg" alt="" style="width:100%;height: 670px;  position: fixed;">
<div class="add">
  <button type="button" class="btn btn-info add-new " style="position: relative;margin-left: 67%;margin-top: 1%;">
    <i class="fa fa-plus"></i> Add New</button>
 </div>
<div class="container bl mt-2" >
  <div class="row">
    <div class="col-8 offset-2">
  <table class="table mek">
    <thead>
      <tr style="background-color:#45c3cf; color: white;">
        <th scope="col">id</th>
        <th scope="col">PROFIL</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profil of profils">
        <td>{{profil.id}}</td>
        <td>{{profil.libelle}}</td>
        <td><a class="fa fa-edit  jul"  href="#"></a> </td>
        <td><a class="fa fa-archive " style="color:#e00e54;"  href="#"></a> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
