<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">PROFIL</th>
        <th scope="col">EDIT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profil of profils">
        <td>{{profil.id}}</td>
        <td>{{profil.libelle}}</td>
        <td><a class="fa fa-edit "  href="#"></a> </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
