
<head>
	<title>Veuillez vous connecter</title>
	<link rel="stylesheet" type="text/css" href="profil.component.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="assets/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="assets/img/bg.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="assets/img/avatar.svg">
        <h2 class="title" >liste des profils</h2>
        <!--  <ul>
          <li *ngFor="let profil of profils">
            {{profil.id}} {{profil.libelle}}
          </li>
        </ul>-->


            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
