<div class="container ">


  <ul class="nav nav-tabs md-tabs nav-justified  ">
    <li class="nav-item ">
        <a class="nav-link active" data-toggle="tab" href="#account_panel_Profile" role="tab" aria-controls="account_panel_Profile">Liste Compétences</a>
    </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#account_panel_Settings" role="tab" aria-controls="account_panel_Settings">Ajouter Compétence</a>
        </li>
  </ul>
<br>
<br>
  <form  class="needs-validation" novalidate action='' enctype="multipart/form-data">

  <div class="tab-content card">

    <!--Panel 1-->
    <div class="tab-pane fade in show active" id="account_panel_Profile" role="tabpanel">
  <div class="row">
            <div class="">


                <div class="md-form mt-3  ">


                    <div class="row  container justify-content-center ">
                      <div class=" col-10 mb-3">
                        <div class="card">
                          <div class="card-body" style="height: 240px;
                          overflow-y: scroll;">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Développer le back-end d'une application</option>
                              <option>Développer le front-end d'une application</option>
                            </select>
                            <button class="btn btn-primary mt-3 mb-3">Maquetter une application</button>
                            <h5>Développer une interface web dynamique</h5>
                              <h5>Réaliser une interface avec un CMS</h5>
                              <h5>Réaliser une interface web responsive</h5>
                          </div>
                        </div>
                      </div>



<div class="container ml-5 row mt-3 mb-3">

  <div class="mt-4  ">
    <ul class="nav nav-tabs  justify-content-center" id="myTab" role="tablist">
      <li class="nav-item ">
        <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Niveau 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Niveau 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Niveau 3</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


        <div class="row mt-2">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-success">Groupe d'actions à
                  réaliser</h5>
                <p class="card-text">A partir d'un schéma
                  physique de données et
                  dans le contexte d'un
                  besoin client décrit,
                   créer
                  une base de données sur
                  un SGBD désigné.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-danger">Critères d'évaluation</h5>
                <p class="card-text">La BD est créée à l'aide
                  d'un script sans erreur et
<br>
<br>
                  les données sont
                  insérées à l'aide d'un
                  script sans erreur</p>

              </div>
            </div>
          </div>
        </div>

    </div>

      <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div class="row mt-2">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-danger">Groupe d'actions à
                  réaliser</h5>
                <p class="card-text">A partir d'un schéma
                  physique de données et
                  dans le contexte d'un
                  besoin client décrit,
                   créer
                  une base de données sur
                  un SGBD désigné.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-danger">Critères d'évaluation</h5>
                <p class="card-text">La BD est créée à l'aide
                  d'un script sans erreur et
<br>
<br>
                  les données sont
                  insérées à l'aide d'un
                  script sans erreur</p>

              </div>
            </div>
          </div>
        </div>
    </div>

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

        <div class="row mt-2">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-danger">Groupe d'actions à
                  réaliser</h5>
                <p class="card-text">A partir d'un schéma
                  physique de données et
                  dans le contexte d'un
                  besoin client décrit,
                   créer
                  une base de données sur
                  un SGBD désigné.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-danger">Critères d'évaluation</h5>
                <p class="card-text">La BD est créée à l'aide
                  d'un script sans erreur et
<br>
<br>
                  les données sont
                  insérées à l'aide d'un
                  script sans erreur</p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>



                    </div>
                </div>

            </div>

        </div>

      </div>








     <div class="tab-pane fade" id="account_panel_Settings" role="tabpanel">
      <div class="col-md-12 mt-4">


                <div class="form-group row mb-5">
          <label class="col-auto col-form-label col-form-label-lg ml-3 ">Groupe de compétences</label>
           <div class="col ml-4">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Développer le back-end d'une application</option>
              <option>Développer le front-end d'une application</option>
            </select>
           </div>
           </div>

           <div class="form-group row mb-5">
            <label class="col-auto col-form-label col-form-label-lg col-md-3 ml-3 ">Libellé</label>
            <div class="col">
              <input type="text" class="form-control form-control-lg  " id="libelle" placeholder=""
              value="Développement Web et mobile">
            </div>
          </div>

          <div class="mt-4 ">
            <ul class="nav nav-tabs  justify-content-center" id="myTab" role="tablist">
              <li class="nav-item ">
                <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Niveau 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Niveau 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Niveau 3</a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                <div class="row mt-2">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-success">Groupe d'actions à
                          réaliser</h5>
                        <p class="card-text">A partir d'un schéma
                          physique de données et
                          dans le contexte d'un
                          besoin client décrit,
                           créer
                          une base de données sur
                          un SGBD désigné.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-danger">Critères d'évaluation</h5>
                        <p class="card-text">La BD est créée à l'aide
                          d'un script sans erreur et
<br>
<br>
                          les données sont
                          insérées à l'aide d'un
                          script sans erreur</p>

                      </div>
                    </div>
                  </div>
                </div>

            </div>

              <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

                <div class="row mt-2">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-danger">Groupe d'actions à
                          réaliser</h5>
                        <p class="card-text">A partir d'un schéma
                          physique de données et
                          dans le contexte d'un
                          besoin client décrit,
                           créer
                          une base de données sur
                          un SGBD désigné.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-danger">Critères d'évaluation</h5>
                        <p class="card-text">La BD est créée à l'aide
                          d'un script sans erreur et
<br>
<br>
                          les données sont
                          insérées à l'aide d'un
                          script sans erreur</p>

                      </div>
                    </div>
                  </div>
                </div>
            </div>

              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                <div class="row mt-2">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-danger">Groupe d'actions à
                          réaliser</h5>
                        <p class="card-text">A partir d'un schéma
                          physique de données et
                          dans le contexte d'un
                          besoin client décrit,
                           créer
                          une base de données sur
                          un SGBD désigné.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-danger">Critères d'évaluation</h5>
                        <p class="card-text">La BD est créée à l'aide
                          d'un script sans erreur et
<br>
<br>
                          les données sont
                          insérées à l'aide d'un
                          script sans erreur</p>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

  </div>


<div class="justify-content-center col-md-4 container mt-5 mb-2">
  <input type=submit value="Soumettre" class=" btn btn-success">

</div>
</div>


  <script>
    var ariaControls = $('#phone').closest('.tab-pane').attr('id')
    $(`a[aria-controls=${ariaControls}`).tab('show')
  </script>


</div>
