<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a href="#" class="navbar-brand" ><i class="f" ></i>Sonatel <b >Academy</b></a>
	<div id="navbarCollapse" class="collapse.show navbar-collapse justify-content-start">
    <div class="row "></div>
		<div class="navbar-nav ml-auto  mr-auto">
      <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Rendus</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Briefs</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-link"></i><span>Explorer</span></a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-commenting"></i><span>Forum</span></a>

      <div class="dropdown " style="margin-top: -9px;">
        <button class="btn dropdown-toggle nav-item nav-link" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-gears "></i><br>
        <span >Paramétres</span>
        </button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" >
          <a href="" class="dropdown-item" routerLink="/promo" routerLinkActive="active-link" >Promos</a>
          <a href="" class="dropdown-item" routerLink="/referentiels" routerLinkActive="active-link">Référentiels</a>
          <a href="" class="dropdown-item" routerLink="/grpcompetence" routerLinkActive="active-link">Groupe de compétences</a>
          <a href="" class="dropdown-item" routerLink="/competence" routerLinkActive="active-link">Compétences</a>
          <a href="" class="dropdown-item" routerLink="/profildesortie" routerLinkActive="active-link">Profil de sortie</a>

        </div>
      </div>
			<a href="#" class="nav-item nav-link" routerLink="/user" routerLinkActive="active-link"><i class="fa fa-users"></i><span>Users</span></a>
			<a href="#" class="nav-item nav-link active"><i class="fa fa-history"></i><span>Historiques</span></a>
      <a href="#" class="nav-item nav-link" routerLink="/profil" routerLinkActive="active-link" >
      <i class="fa fa-user"></i><span>Profil</span></a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-bell" ></i><span>Notifs</span></a>
    </div>
  </div>
  <a href=""  class="nav-item nav-link  fa fa-sign-out"  style=" color:#ee7e28;; font-size: 25px;"> </a>
</nav>
<div>





<img src="../assets/img/bg3.jpg" alt="" style="width:100%;height: 670px; position: fixed;">








<div class="">


  <div class="container ">


    <ul class="nav nav-tabs md-tabs nav-justified  mt-2 tag " style="position: relative; border-radius: 1%;">
      <li class="nav-item  ">
          <a class="nav-link active " data-toggle="tab" href="#account_panel_Profile" role="tab" aria-controls="account_panel_Profile"><h5 style="color: #ee7e28;">Liste Compétences</h5></a>
      </li>
          <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#account_panel_Settings" role="tab" aria-controls="account_panel_Settings"><h5 style="color: #ee7e28;">Ajouter Compétence</h5></a>
          </li>
    </ul>
  <br>
  <br>
    <form  class="needs-validation" novalidate action='' enctype="multipart/form-data">

    <div class="tab-content card">

      <!--Panel 1-->
      <div class="tab-pane fade in show active" id="account_panel_Profile" role="tabpanel">
    <div class="row">
              <div class="">


                  <div class="md-form mt-3  ">


                      <div class="row  container justify-content-center ">
                        <div class=" col-10 mb-3">
                          <div class="card">
                            <div class="card-body" style="height: 240px;
                            overflow-y: scroll;">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>Développer le back-end d'une application</option>
                                <option>Développer le front-end d'une application</option>
                              </select>
                              <button class="btn  mt-3 mb-3" style="background-color: #ee7e28; color: white;">Maquetter une application</button>
                              <h5>Développer une interface web dynamique</h5>
                                <h5>Réaliser une interface avec un CMS</h5>
                                <h5>Réaliser une interface web responsive</h5>
                            </div>
                          </div>
                        </div>



  <div class="container ml-5 row mt-3 mb-3">

    <div class="mt-4  ">
      <ul class="nav nav-tabs  justify-content-center" id="myTab" role="tablist" >
        <li class="nav-item " >
          <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: #ee7e28;">Niveau 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color: #000000;">Niveau 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="color: #000000;">Niveau 3</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


          <div class="row mt-2">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title " style="color: #3ca29f;">Groupe d'actions à
                    réaliser</h5>
                  <p class="card-text">A partir d'un schéma
                    physique de données et
                    dans le contexte d'un
                    besoin client décrit,
                     créer
                    une base de données sur
                    un SGBD désigné.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title " style="color: #3ca29f;">Critères d'évaluation</h5>
                  <p class="card-text">La BD est créée à l'aide
                    d'un script sans erreur et
  <br>
  <br>
                    les données sont
                    insérées à l'aide d'un
                    script sans erreur</p>

                </div>
              </div>
            </div>
          </div>

      </div>

        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

          <div class="row mt-2">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-danger">Groupe d'actions à
                    réaliser</h5>
                  <p class="card-text">A partir d'un schéma
                    physique de données et
                    dans le contexte d'un
                    besoin client décrit,
                     créer
                    une base de données sur
                    un SGBD désigné.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-danger">Critères d'évaluation</h5>
                  <p class="card-text">La BD est créée à l'aide
                    d'un script sans erreur et
  <br>
  <br>
                    les données sont
                    insérées à l'aide d'un
                    script sans erreur</p>

                </div>
              </div>
            </div>
          </div>
      </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

          <div class="row mt-2">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-danger">Groupe d'actions à
                    réaliser</h5>
                  <p class="card-text">A partir d'un schéma
                    physique de données et
                    dans le contexte d'un
                    besoin client décrit,
                     créer
                    une base de données sur
                    un SGBD désigné.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-danger">Critères d'évaluation</h5>
                  <p class="card-text">La BD est créée à l'aide
                    d'un script sans erreur et
  <br>
  <br>
                    les données sont
                    insérées à l'aide d'un
                    script sans erreur</p>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>



                      </div>
                  </div>

              </div>

          </div>

        </div>








       <div class="tab-pane fade" id="account_panel_Settings" role="tabpanel">
        <div class="col-md-12 mt-4">


                  <div class="form-group row mb-5">
            <label class="col-auto col-form-label col-form-label-lg ml-3 ">Groupe de compétences</label>
             <div class="col ml-4">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Développer le back-end d'une application</option>
                <option>Développer le front-end d'une application</option>
              </select>
             </div>
             </div>

             <div class="form-group row mb-5">
              <label class="col-auto col-form-label col-form-label-lg col-md-3 ml-3 ">Libellé</label>
              <div class="col">
                <input type="text" class="form-control form-control-lg  " id="libelle" placeholder=""
                value="Développement Web et mobile">
              </div>
            </div>

            <div class="mt-4 ">
              <ul class="nav nav-tabs  justify-content-center" id="myTab" role="tablist">
                <li class="nav-item ">
                  <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: #ee7e28;">Niveau 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"style="color:#000000;">Niveau 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="color: #000000;">Niveau 3</a>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                  <div class="row mt-2">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title "  style="color: #3ca29f;">Groupe d'actions à
                            réaliser</h5>
                          <p class="card-text">A partir d'un schéma
                            physique de données et
                            dans le contexte d'un
                            besoin client décrit,
                             créer
                            une base de données sur
                            un SGBD désigné.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title "  style="color: #3ca29f;">Critères d'évaluation</h5>
                          <p class="card-text">La BD est créée à l'aide
                            d'un script sans erreur et
  <br>
  <br>
                            les données sont
                            insérées à l'aide d'un
                            script sans erreur</p>

                        </div>
                      </div>
                    </div>
                  </div>

              </div>

                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">

                  <div class="row mt-2">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-danger">Groupe d'actions à
                            réaliser</h5>
                          <p class="card-text">A partir d'un schéma
                            physique de données et
                            dans le contexte d'un
                            besoin client décrit,
                             créer
                            une base de données sur
                            un SGBD désigné.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-danger">Critères d'évaluation</h5>
                          <p class="card-text">La BD est créée à l'aide
                            d'un script sans erreur et
  <br>
  <br>
                            les données sont
                            insérées à l'aide d'un
                            script sans erreur</p>

                        </div>
                      </div>
                    </div>
                  </div>
              </div>

                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                  <div class="row mt-2">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-danger">Groupe d'actions à
                            réaliser</h5>
                          <p class="card-text">A partir d'un schéma
                            physique de données et
                            dans le contexte d'un
                            besoin client décrit,
                             créer
                            une base de données sur
                            un SGBD désigné.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-danger">Critères d'évaluation</h5>
                          <p class="card-text">La BD est créée à l'aide
                            d'un script sans erreur et
  <br>
  <br>
                            les données sont
                            insérées à l'aide d'un
                            script sans erreur</p>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

    </div>


  <div class="justify-content-center col-md-4 container mt-5 mb-2">
    <input type=submit value="Ajouter" class=" btn " style="background-color: #ee7e28; color: white;letter-spacing: 10px;text-align: center;">

  </div>
  </div>


    <script>
      var ariaControls = $('#phone').closest('.tab-pane').attr('id')
      $(`a[aria-controls=${ariaControls}`).tab('show')
    </script>


  </div>


