<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a href="#" class="navbar-brand" ><i class="f" ></i>Sonatel <b >Academy</b></a>
	<div id="navbarCollapse" class="collapse.show navbar-collapse justify-content-start">
    <div class="row "></div>
		<div class="navbar-nav ml-auto  mr-auto">
      <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Rendus</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Briefs</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-link"></i><span>Explorer</span></a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-commenting"></i><span>Forum</span></a>

      <div class="dropdown " style="margin-top: -9px;">
        <button class="btn dropdown-toggle nav-item nav-link" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-gears "></i><br>
        <span >Paramétres</span>
        </button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" >
          <a href="#" class="dropdown-item" routerLink="/promo" routerLinkActive="active-link" >Promos</a>
          <a href="#" class="dropdown-item" routerLink="/referentiels" routerLinkActive="active-link">Référentiels</a>
          <a href="#" class="dropdown-item" routerLink="/grpcompetence" routerLinkActive="active-link">Groupe de compétences</a>
          <a href="#" class="dropdown-item" routerLink="/competence" routerLinkActive="active-link">Compétences</a>
          <a href="#" class="dropdown-item" routerLink="/profildesortie" routerLinkActive="active-link">Profil de sortie</a>

        </div>
      </div>
			<a href="#" class="nav-item nav-link" routerLink="/user" routerLinkActive="active-link"><i class="fa fa-users"></i><span>Users</span></a>
			<a href="#" class="nav-item nav-link active"><i class="fa fa-history"></i><span>Historiques</span></a>
      <a href="#" class="nav-item nav-link" routerLink="/profil" routerLinkActive="active-link" >
      <i class="fa fa-user"></i><span>Profil</span></a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-bell" ></i><span>Notifs</span></a>
    </div>
  </div>
  <a href=""  class="nav-item nav-link  fa fa-sign-out"  style=" color:#ee7e28;; font-size: 25px;"> </a>
</nav>

<img src="../assets/img/bg3.jpg" alt="" style="width:100%;height: 670px; position: fixed;">




<div class="row justify-content-center p-3" s>

  <div class=" col-md-3 ">
      <div class="card " >
        <div class="card-header " style="background-color: #ee7e28; color: white;">Cohorte 1</div>
        <div class="card-body">

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Langue
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Française
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Description
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, hic vitae repudiandae obcaecati eum eos repellat consequuntur quaerat at laboriosam placeat sit reiciendis quae repellendus amet eligendi cum porro? Nisi?
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Lieu
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
                </div>
              </div>

            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                    Référence Agate
                  </button>
                </h5>
              </div>
              <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                    Choix de la Fabrique
                  </button>
                </h5>
              </div>
              <div id="collapsefive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
                    Période de formation
                  </button>
                </h5>
              </div>
              <div id="collapsesix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseThree">
                    Référentiels
                  </button>
                </h5>
              </div>
              <div id="collapseseven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
                </div>
              </div>
            </div>

          </div>



        </div>
</div>

</div>

<div class=" col-md-3 ">
  <div class="card " >
    <div class="card-header  " style="background-color: #ee7e28; color: white;">Cohorte 2</div>
    <div class="card-body">

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapsenine" aria-expanded="true" aria-controls="collapseOne">
                Langue
              </button>
            </h5>
          </div>

          <div id="collapsenine" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Française
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapseTwo">
                Description
              </button>
            </h5>
          </div>
          <div id="collapseten" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, hic vitae repudiandae obcaecati eum eos repellat consequuntur quaerat at laboriosam placeat sit reiciendis quae repellendus amet eligendi cum porro? Nisi?
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseleven" aria-expanded="false" aria-controls="collapseThree">
                Lieu
              </button>
            </h5>
          </div>
          <div id="collapseleven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetw" aria-expanded="false" aria-controls="collapseThree">
                Référence Agate
              </button>
            </h5>
          </div>
          <div id="collapsetw" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseth" aria-expanded="false" aria-controls="collapseThree">
                Choix de la Fabrique
              </button>
            </h5>
          </div>
          <div id="collapseth" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseft" aria-expanded="false" aria-controls="collapseThree">
                Période de formation
              </button>
            </h5>
          </div>
          <div id="collapseft" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefi" aria-expanded="false" aria-controls="collapseThree">
                Référentiels
              </button>
            </h5>
          </div>
          <div id="collapsefi" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>
        </div>

      </div>



    </div>
</div>

</div>

<div class=" col-md-3 ">
  <div class="card " >
    <div class="card-header " style="background-color: #ee7e28; color: white;">Cohorte 3</div>
    <div class="card-body">

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                Langue
              </button>
            </h5>
          </div>

          <div id="collapseOne3" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Française
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo">
                Description
              </button>
            </h5>
          </div>
          <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, hic vitae repudiandae obcaecati eum eos repellat consequuntur quaerat at laboriosam placeat sit reiciendis quae repellendus amet eligendi cum porro? Nisi?
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree">
                Lieu
              </button>
            </h5>
          </div>
          <div id="collapseThree3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour3" aria-expanded="false" aria-controls="collapseThree">
                Référence Agate
              </button>
            </h5>
          </div>
          <div id="collapsefour3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive3" aria-expanded="false" aria-controls="collapseThree">
                Choix de la Fabrique
              </button>
            </h5>
          </div>
          <div id="collapsefive3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix3" aria-expanded="false" aria-controls="collapseThree">
                Période de formation
              </button>
            </h5>
          </div>
          <div id="collapsesix3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est cupiditate ipsa, magnam quis vel autem tempore accusantium nostrum nam neque saepe et iure perspiciatis error eligendi quae temporibus totam.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven3" aria-expanded="false" aria-controls="collapseThree">
                Référentiels
              </button>
            </h5>
          </div>
          <div id="collapseseven3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nisi perferendis tempore. Porro accusantium at laudantium, repellat, optio deleniti, provident illum voluptatibus exercitationem similique dignissimos in harum dolorum. Sint, omnis?
            </div>
          </div>
        </div>

      </div>



    </div>
</div>

</div>



  </div>

