
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a href="#" class="navbar-brand" ><i class="f" ></i>Sonatel <b >Academy</b></a>
	<div id="navbarCollapse" class="collapse.show navbar-collapse justify-content-start">
    <div class="row "></div>
		<div class="navbar-nav ml-auto  mr-auto">
      <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Rendus</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Briefs</span></a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-link"></i><span>Explorer</span></a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-commenting"></i><span>Forum</span></a>

      <div class="dropdown " style="margin-top: -9px;">
        <button class="btn dropdown-toggle nav-item nav-link" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-gears "></i><br>
        <span >Paramétres</span>
        </button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" >
          <a  href="#" class="dropdown-item" routerLink="/promo" routerLinkActive="active-link" >Promos</a>
          <a  href="#" class="dropdown-item" routerLink="/referentiels" routerLinkActive="active-link">Référentiels</a>
          <a  href="#" class="dropdown-item" routerLink="/grpcompetence" routerLinkActive="active-link">Groupe de compétences</a>
          <a  href="#" class="dropdown-item" routerLink="/competence" routerLinkActive="active-link">Compétences</a>
          <a  href="#"  class="dropdown-item" routerLink="/profildesortie" routerLinkActive="active-link">Profil de sortie</a>

        </div>
      </div>
			<a href="#" class="nav-item nav-link" routerLink="/user" routerLinkActive="active-link"><i class="fa fa-users"></i><span>Users</span></a>
			<a href="#" class="nav-item nav-link active"><i class="fa fa-history"></i><span>Historiques</span></a>
      <a href="#" class="nav-item nav-link" routerLink="/profil" routerLinkActive="active-link" >
      <i class="fa fa-user"></i><span>Profil</span></a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-bell" ></i><span>Notifs</span></a>
    </div>
  </div>
  <a href=""  class="nav-item nav-link  fa fa-sign-out"  style=" color:#ee7e28;; font-size: 25px;"> </a>
</nav>

<img src="../assets/img/bg3.jpg" alt="" style="width:100%;height: 670px; position: fixed;">





<div class="container mt-5 col-md-7">
  <form>
     <div class="form-group row">
       <label class="col-auto col-form-label col-form-label-lg col-md-3 ">Libellé</label>
       <div class="col">
         <input type="text" class="form-control form-control-lg  " id="libelle" placeholder=""
         value="Développement Web et mobile">
       </div>
     </div>

     <div class="form-group row">
      <label class="col-auto col-form-label col-form-label-lg col-md-3 ">Présentation  </label>
      <div class="col">
        <textarea class="form-control " id="form6Example7" rows="4" >
  De l’analyse du besoin à la mise en ligne, en passant par l’interface et la base
  de données, le·la développeur·se web conçoit et programme des applications web.
        </textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-auto col-form-label col-form-label-lg col-md-3 ">Compétences  </label>
      <div class="col">

        <div class="card" >

          <div class="card-body">
            Développer le back-end d'une application web
            <button type="button" class="close" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <br>
            Développer le front-end d'une application web
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        
      </div>
    </div>


    <div class="form-group row  ">
      <label class="col-auto col-form-label col-form-label-lg col-md-3 ">Programme</label>
      <div class="col">

        <div class="card col-md-6 "  >

          <div class="card-body">
          uploader le programme
          </div>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-auto col-form-label col-form-label-lg col-md-3 ">Critères d'évaluation</label>
      <div class="col">

        <div class="card" >

          <div class="card-body">
            Un portfolio comprenant la réalisation d'au moins 9 projets tout au long de la formation
            <button type="button" class="close" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <br>
            Une soutenance devant un jury de professionnels
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-auto col-form-label col-form-label-lg col-md-3 ">Critères d'admission </label>
      <div class="col">

        <div class="card" >

          <div class="card-body">
            Un portfolio comprenant la réalisation d'au moins 9 projets tout au long de la formation
            <button type="button" class="close" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <br>
            Une soutenance devant un jury de professionnels
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row  justify-content-center ">
      <button type="button" class="btn  col-md-2 "  style="background-color: #ee7e28; color: white;">Ajouter</button>
    </div>

   </form>

  </div>



