<app-nav></app-nav>
<div >
<img src="../assets/img/bg3.jpg" alt="" style="width:100%;height: 670px; position: fixed;">
<div class="add">
<button type="button" class="btn btn-info add-new"routerLink="/adduser" routerLinkActive="active-link"
style="position: relative;margin-left: 72%;margin-top: 1%;">
  <i class="fa fa-plus"></i> Add New</button>


</div>
<div class="container mt-2">
  <div class="row">
    <div class="col-10 offset-1 np">
  <table class="table" >
    <thead>
      <tr style="background-color:#45c3cf; color: white;">
        <th scope="col">id</th>
        <th scope="col">prenom </th>
        <th scope="col">nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>


      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.prenom}}</td>
        <td>{{user.adresse}}</td>
        <td><a class="fa fa-edit  jul"  href="#"></a> </td>
        <td><a class="fa fa-archive "  style="color:#e00e54;"  href="#"></a> </td>

      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
